body{
  margin:0;
}
.background {
  background: linear-gradient(90deg, rgba(81,124,66,1) 0%, rgba(9,121,66,1) 35%, rgba(5,166,116,1) 67%, rgba(0,255,9,1) 100%);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;

}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
.under-head{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
display: flex;overflow: hidden;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: space-between;align-items: center;}
svg {
    position: absolute;width: 100%;
}
.filled-heading {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    line-height: 0.9;
}

#background path {
    animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
#textClip text {
    display: none;
}
#textClip text:nth-of-type(n + 1):nth-of-type(-n + 3) {
    display: inline;
}

@keyframes pulse {
    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 65% { transform: scale(1) rotate(0deg); }
}
.typing {
  position: relative;z-index: 1;
  /*This part is important for centering*/
  margin: 60px;display: block;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 25ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 6em;
position: relative;}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.login__index__img {
  margin:2px;
  width: 80px;
  border-radius: 25%;
}


.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}


.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}
.page
{
	display: flex;overflow: hidden;
flex-direction: row;flex-wrap: nowrap;align-content: flex-end;align-items: baseline;justify-content: flex-end;}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

hr
{
	border:none;
	display: block;
	width: 100%;
	height: 1px;
	margin: 35px 0;
	background-color: #e5e5e5e5;

}

.container
{
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.intro
{
	width:100%;
	height: 100vh;
	/* background-size: cover; */
	-webkit-background-size: cover;
	/* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 820px;
    position: relative;
flex-wrap: nowrap;align-content: flex-start;align-items: stretch;}

.intro_inner
{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro__title
{
	font-size:150px;
	color: #fff;
	font-weight: 700px;
	text-transform:uppercase;
	line-height: 1;

}



.intro__title:after
{
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 60px auto ;


}

.intro__suptitle
{
	margin-bottom: 20px;
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
}


.header
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 13px;

}

.header.fixed
{
	padding: 10px 0;

	background-color: #b2f643;
	position: fixed;
	top: 0;
	right: 0;
    left: 0;
    transform: translate3d(0 ,0 ,0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}
.header.active
{
	background-color: #b2f643;
}
@keyframes onmenuapp {
    100%{
        height: 100%;
    }

}
.header-inner
{
	z-index: 999;display: flex;
	justify-content: space-around;
	align-items: center;
flex-wrap: wrap;flex-direction: row;}

.logo
{
	font-size: 55px;
	font-weight: 700;
	color: black;
}


.nav
{
	font-size: 28px;
	text-transform: uppercase;

}
/*nav-toggle*/
.nav-toggle
{
	width: 30px;
	position: absolute;
	top: 25px;
	display: none;
	padding: 10px 0;
	right: 25px;
	font-size: 0;
	color:transparent;
	border: none;
	background: none;
	z-index: 1;
	cursor: pointer;


}

.nav-toggle__item
{
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transition: background .1s linear;

}
.nav-toggle__item:before,
.nav-toggle__item:after
{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #fff;
	left: 0;
	z-index: 1;
	transition: transform .2s linear;
}



.nav-toggle__item:before
{
	top: -8px;
}
.nav-toggle__item:after
{
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before
{
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0 );

}
.nav-toggle.active .nav-toggle__item:after
{
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0);

}

.nav-toggle.active .nav-toggle__item
{
 background: none;
}

.nav-link
{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: black;
	text-decoration: none;
	transition: color .1s linear;
	position: relative;


}
.nav-link.active
{
	color: #fce38a;
}

.nav-link:hover
{
	color: #fce38a;
}

.nav-link:after
{
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	top: 100%;
	background-color: #fce38a;
	position: absolute;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .1s linear;
}

.nav-link:hover:after,
.nav-link.active:after
{
	opacity: 1;
}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto;
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;


}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}





.tabWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  bottom: 0;
  z-index: 100;
  background: #000;
}
#slider-wrap .tabWrap  li {
  float: none !important;
  width: 200px !important;
  height: 134px !important;
  color: #000;
  background: #f9f9f9;
  box-sizing: border-box;
  text-align: center;
 border-bottom: 1px solid #000;
}


.personal-info{
    display: inline-block;top: 35%;
    position: absolute;
    padding: 5%;
    width: 5%;
    height: 2%;
    margin: 5%;
}
.person__index__info a {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.person__index__info a:hover{
    border-radius: 50px;
    background-color: #d4e157;
    text-decoration: none;
}
.ramka-7 {
    width: 200px;
    height: 200px;
    background-color: #FFF;
    position: relative;
    /* margin: 60px auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 6px 6px 8px 0 rgba(0,0,0,0.4);
}
.ramka-7:after,
.ramka-7:before {
    mix-blend-mode:multiply;
    filter:none;
    z-index: -1;
    content:'';
    width: calc(100% + 90px);
    height: calc(100% + 90px);
    position: absolute;
    animation: anim-ramka-7 8s ease-in-out infinite;
}
@keyframes anim-ramka-7 {
    0%, 100% {
        clip-path: polygon(0 0, calc(100% - (33px)) calc(0% + (33px)), 100% 100%, calc(0% + (33px)) calc(100% - (33px)));
    }
    50% {
        clip-path: polygon(calc(0% + (33px)) calc(0% + (33px)), 100% 0, calc(100% - (33px)) calc(100% - (33px)), 0 100%);
    }
}
.ramka-7:after{
    animation-delay: -5s;
    background-color: #BFE2FF;
    clip-path: polygon(0 0, calc(100% - (33px)) calc(0% + (33px)), 100% 100%, calc(0% + (33px)) calc(100% - (33px)));
}
.ramka-7:before {
    background-color: #337AB7;
    clip-path: polygon(calc(0% + (33px)) calc(0% + (33px)), 100% 0, calc(100% - (33px)) calc(100% - (33px)), 0 100%);
}
.ramka-7:hover:before,
.ramka-7:hover:after {
    animation-play-state: paused;
}