body{
  margin:0;
}
.background {
  background: linear-gradient(90deg, rgba(81,124,66,1) 0%, rgba(9,121,66,1) 35%, rgba(5,166,116,1) 67%, rgba(0,255,9,1) 100%);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;

}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
.under-head{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
display: flex;overflow: hidden;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: space-between;align-items: center;}
svg {
    position: absolute;width: 100%;
}
.filled-heading {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    line-height: 0.9;
}

#background path {
    animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
#textClip text {
    display: none;
}
#textClip text:nth-of-type(n + 1):nth-of-type(-n + 3) {
    display: inline;
}

@keyframes pulse {
    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 65% { transform: scale(1) rotate(0deg); }
}
.typing {
  position: relative;z-index: 1;
  /*This part is important for centering*/
  margin: 60px;display: block;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 25ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 6em;
position: relative;}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.login__index__img {
  margin:2px;
  width: 80px;
  border-radius: 25%;
}


.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}


.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}
.page
{
	display: flex;overflow: hidden;
flex-direction: row;flex-wrap: nowrap;align-content: flex-end;align-items: baseline;justify-content: flex-end;}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

hr
{
	border:none;
	display: block;
	width: 100%;
	height: 1px;
	margin: 35px 0;
	background-color: #e5e5e5e5;

}

.container1
{
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.intro
{
	width:100%;
	height: 100vh;
	/* background-size: cover; */
	-webkit-background-size: cover;
	/* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 820px;
    position: relative;
flex-wrap: nowrap;align-content: flex-start;align-items: stretch;}

.intro_inner
{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro__title
{
	font-size:150px;
	color: #fff;
	text-transform:uppercase;
	line-height: 1;

}



.intro__title:after
{
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 60px auto ;


}

.intro__suptitle
{
	margin-bottom: 20px;
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
}


.header
{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 13px;

}

.header.fixed
{
	padding: 10px 0;

	background-color: #c7d7aeb3;
	position: fixed;
	top: 0;
	right: 0;
    left: 0;
    transform: translate3d(0 ,0 ,0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}
.header.active
{
	background-color: #b2f643;
}
@keyframes onmenuapp {
    100%{
        height: 100%;
    }

}
.header-inner
{
	z-index: 999;display: flex;
	justify-content: space-around;
	align-items: center;
flex-wrap: wrap;flex-direction: row;}

.logo
{
	font-size: 55px;
	font-weight: 700;
	color: black;
}


.nav
{
	font-size: 28px;
	text-transform: uppercase;

}
/*nav-toggle*/
.nav-toggle
{
	width: 30px;
	position: absolute;
	top: 25px;
	display: none;
	padding: 10px 0;
	right: 25px;
	font-size: 0;
	color:transparent;
	border: none;
	background: none;
	z-index: 1;
	cursor: pointer;


}

.nav-toggle__item
{
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transition: background .1s linear;

}
.nav-toggle__item:before,
.nav-toggle__item:after
{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #fff;
	left: 0;
	z-index: 1;
	transition: transform .2s linear;
}



.nav-toggle__item:before
{
	top: -8px;
}
.nav-toggle__item:after
{
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before
{
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0 );

}
.nav-toggle.active .nav-toggle__item:after
{
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0);

}

.nav-toggle.active .nav-toggle__item
{
 background: none;
}

.nav-link
{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: black;
	text-decoration: none;
	transition: color .1s linear;
	position: relative;


}
.nav-link.active
{
	color: #fce38a;
}

.nav-link:hover
{
	color: #fce38a;
}

.nav-link:after
{
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	top: 100%;
	background-color: #fce38a;
	position: absolute;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .1s linear;
}

.nav-link:hover:after,
.nav-link.active:after
{
	opacity: 1;
}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto;
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;


}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}





.tabWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  bottom: 0;
  z-index: 100;
  background: #000;
}
#slider-wrap .tabWrap  li {
  float: none !important;
  width: 200px !important;
  height: 134px !important;
  color: #000;
  background: #f9f9f9;
  box-sizing: border-box;
  text-align: center;
 border-bottom: 1px solid #000;
}


.personal-info{
    display: inline-block;top: 35%;
    position: absolute;
    padding: 5%;
    width: 5%;
    height: 2%;
    margin: 5%;
}
.person__index__info a {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.person__index__info a:hover{
    border-radius: 50px;
    background-color: #d4e157;
    text-decoration: none;
}

.main-tab{
    position: absolute;
/* top: 20%; */margin: 10% 40%;/* right: 20%; */}
.tab {
  font-family: "Patrick Hand";
  text-transform: uppercase;
  line-height: 0.8;
  display: inline-block;
  margin-left: -35px;
  filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05));
  border: none;
  border-radius: 6px 6px 0 0;
  position: relative;
  margin-right: 4rem;
  background: var(--background);
  white-space: nowrap;
  cursor: pointer;
  background: var(--background);
}
.tab:focus {
  outline: none;
}
.tab:focus span {
  border-bottom: 2px solid;
  border-radius: 0;
}
.tab:first-of-type {
  margin-left: 30px;
}
.tab div {
  background: var(--background);
  padding: 6px 0;
  position: relative;
  z-index: 10;
}
.tab span {
  display: inline-block;
  border: 2px solid transparent;
  padding: 6px 15px 6px;
  border-radius: 5px;
  z-index: 5;
  position: relative;
  font-size: 140%;
  color: #fff;
  min-width: 6rem;
}
.tab:before, .tab:after {
  content: "";
  height: 100%;
  position: absolute;
  background: var(--background);
  border-radius: 8px 8px 0 0;
  width: 30px;
  top: 0;
}
.tab:before {
  right: -16px;
  transform: skew(25deg);
  border-radius: 0 8px 0 0;
}
.tab:after {
  transform: skew(-25deg);
  left: -16px;
  border-radius: 8px 0 0 0;
}
.tab.active {
  z-index: 50;
  position: relative;
}
.tab.active span {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: black;
}

.content2 {
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.content2 #tab-1 {
  display: block;
}
.content2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: inherit;
}
.content__inner {
  font-family: "Yomogi", sans-serif;
  display: none;
  background: var(--background);
  border-radius: inherit;
  padding: 1rem;
  filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1));
  z-index: 5;
}

.folder {
  margin: 1rem auto;
  max-width: 50rem;
  width: 100%;
  scrollbar-height: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.folder ::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  display: none;
}

.page {
  display: flex;padding: 1.5rem;
  border-radius: 2px;
  min-height: 20rem;
  line-height: 160%;
  background-color: #f9f9f9;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  /* background-image: linear-gradient(#e4e4e4 1px, transparent 1px); */
  background-size: 8% 8%, 2px 2px;
flex-direction: column;flex-wrap: nowrap;}

.tabs {
  padding: 2rem 0 0 0;
  width: 100%;
  margin: 0 0.5rem;
  overflow-x: auto;
  width: calc(100% - 1rem);
  white-space: nowrap;
}
@media (min-width: 50rem) {
  .tabs {
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }
}

#solid:checked ~ .folder .tab:nth-of-type(1),
#solid:checked ~ .folder .content__inner:nth-of-type(1) {
  --background: #af4d98;
}
#solid:checked ~ .folder .tab:nth-of-type(2),
#solid:checked ~ .folder .content__inner:nth-of-type(2) {
  --background: #d66ba0;
}
#solid:checked ~ .folder .tab:nth-of-type(3),
#solid:checked ~ .folder .content__inner:nth-of-type(3) {
  --background: #e5a9a9;
}
#solid:checked ~ .folder .tab:nth-of-type(4),
#solid:checked ~ .folder .content__inner:nth-of-type(4) {
  --background: #6cb6bb;
}
#solid:checked ~ .folder .tab {
  border: 2px solid;
  border-width: 2px 0 0;
}
#solid:checked ~ .folder .tab:before, #solid:checked ~ .folder .tab:after {
  top: -2px;
  border-top: 2px solid;
}
#solid:checked ~ .folder .tab:before {
  border-right: 2px solid;
}
#solid:checked ~ .folder .tab:after {
  border-left: 2px solid;
}
#solid:checked ~ .folder .tab.active span {
  border: 2px solid;
}
#solid:checked ~ .folder .tab.active:focus span {
  outline: 1px solid rgba(255, 255, 255, 0.7);
}
#solid:checked ~ .folder .tab:not(.active) {
  border-bottom: 2px solid;
}
#solid:checked ~ .folder .tab:not(.active):before, #solid:checked ~ .folder .tab:not(.active):after {
  box-shadow: 0 1.5px 0 black;
}
#solid:checked ~ .folder .content {
  top: -2px;
  left: -2px;
}
#solid:checked ~ .folder .content__inner {
  box-shadow: 0 0 0 1.5px black;
}
#solid:checked ~ .folder .page {
  border: 2px solid;
}

#shadow:checked ~ .folder .tab {
  --background: linear-gradient(to bottom, #fee9a5, #f9d877);
}
#shadow:checked ~ .folder .tab span {
  color: black;
}
#shadow:checked ~ .folder .tab:focus span {
  border-bottom-color: black;
}
#shadow:checked ~ .folder .tab.active:focus span {
  border-color: black;
}
#shadow:checked ~ .folder .content__inner {
  --background: linear-gradient(to bottom, #f9d877, #fee9a5);
}

/* radio buttons styling */
input.variation {
  display: none;
}
input.variation + label {
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
  color: white;
}
input.variation + label .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
}
input.variation:checked + label .circle {
  background: white;
  box-shadow: inset 0 0 0 3px #3c1053;
}
input.variation:nth-of-type(1) + label {
  justify-self: flex-end;
}
.block-lk-button01 {display: flex;flex-direction: row;flex-wrap: nowrap;align-content: stretch;margin: 20%;}
.block-lk-button {display: flex;flex-direction: row;flex-wrap: nowrap;align-content: stretch;}

.person-info-block-info {width: 100%;height: 100%;position: relative;}
.block-lk-info {display: flex;color: white;text-align: center;text-decoration: none;/* text-overflow: inherit; */text-transform: capitalize;flex-direction: column;flex-wrap: wrap;align-content: space-around;justify-content: center;padding: 10%;}
img.img-person-block {width: 75%;border-radius: 15px;margin: 10%;}
.person-info-block {background-color: black;position: absolute;width: 22%;height: 16%;border-radius: 20px;display: flex;right: 2%;top: 10%;flex-direction: row;flex-wrap: nowrap;align-content: center;}

a.btn-to-go-person-area, a.btn-to-go-exit, a.btn-to-go-sign-in, a.btn-to-go-sign-up {width: 150px;padding: 1%;background-color: white;border-radius: 25px;text-align: center;display: flex;/* flex-direction: row-reverse; *//* flex-wrap: nowrap; */align-content: space-between;justify-content: flex-start;align-items: flex-end;}
p.text-title-news-index {text-align: center;font-size: 1.6em;text-transform: uppercase;}

.title-news-index {position: absolute;/* right: 65%; */height: 90%;width: 95%;}

.content-news-index {position: absolute;/* right: 65%; */left: 3%;top: 20%;padding: 5%;width: 90%;}

span.text-content-news-index {text-align: center;font-size: 1.2em;font-family: sans-serif;font-style: italic;}

.date-and-author-news-index {width: 20%;position: absolute;top: 60%;}

p.item-date-news-index {position: absolute;margin: 40%;/* top: 200%; */width: 100%;/* left: -300%; */font-size: 1.2em;}

p.item-author-news-index {position: absolute;width: 100%;margin: 40%;left: 300%;font-size: 1.2em;}
.accordion {
  margin: 1%;background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}