/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway, serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

body{
    background: rgb(221, 219, 222);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: rgb(39, 43, 82);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(232, 131, 30);
  text-align: center;
}
.login-box h2:hover {
  animation:gradient-h2 5s infinite alternate;
}


.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  color: rgb(232, 131, 30);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(232, 131, 30);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}
.line {
  width:100%;
    border-bottom: 1px solid #fff; /* Параметры линии */
   }
.login-box form a {
  position: relative;
  display: flex;
  padding: 10px 20px;
  color: rgb(232, 131, 30);
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 2px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.login-box form .second-fu {
  position: relative;
  display: inline-block;
}

#button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 200px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin:5%;
}
#button:hover {
  color: white;
  background: #1ECD97;
}
#button:active {
  letter-spacing: 2px;
}
#button:after {
  content: "Вход";
}


.login-box form .forg__up{
    display:block;
    width: auto;
    font-size: 7px;
    margin:4%;
}
.login-box form .reg__up{
    display:block;
    width: auto;
    font-size: 7px;
    margin:4%;
}
.login-box .sign__up:hover {
  background: rgb(232, 131, 30);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 2px rgb(232, 131, 30),
    0 0 25px rgb(232, 131, 30),
    0 0 50px rgb(232, 131, 30),
    0 0 100px rgb(232, 131, 30);
}
.login-box .forg__up:hover {
  background: rgb(163, 105, 96);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 2px rgb(163, 105, 96),
    0 0 25px rgb(163, 105, 96),
    0 0 50px rgb(163, 105, 96),
    0 0 100px rgb(163, 105, 96);
}
.login-box .reg__up:hover {
  background: rgb(96, 163, 125);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 2px rgb(96, 163, 125),
    0 0 25px rgb(96, 163, 125),
    0 0 50px rgb(96, 163, 125),
    0 0 100px rgb(96, 163, 125);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}



.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}


.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}



.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}



#one:checked ~.request_box_org{

  left:58%;  opacity:1 ;

  z-index: 1;
  transition:0.67s;
}

.request_box_org {z-index:-1;opacity: 0; position: absolute;background-color: white;border-radius: 15px;display: flex;flex-direction: column;flex-wrap: nowrap;align-content: space-between;justify-content: flex-start;align-items: center;padding: 35px;top: 30%;left: 35%;}
label.lb-org {position: absolute;color: white;left: 52%;bottom: 35%;}

input#one {position: absolute;border-radius: 15px;left: 51%;bottom: 35.5%;}
