<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href='{% static '/css/crtdnews.css' %}?{% now "U" %}' type="text/css">
</head>
<body>
<div id="form-main">
    <div id="form-div">
        <form class="form" id="form1" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="name">
                <input name="title" type="text"
                       class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Title"
                       id="name"/>
            </p>
            <p class="name">
                <input name="category" type="text"
                       class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="category"
                       id="name"/>
            </p>
            <p class="name">
                <input name="type" type="text"
                       class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="type"
                       id="name"/>
            </p>
            <p class="name">
                <input name="file" type="file"
                       placeholder="File"
                       id="name"/>
            </p>
            <p class="text">
                <textarea name="content" class="validate[required,length[6,999]] feedback-input" id="comment"
                          placeholder="Content"></textarea>
            </p>

            <div class="submit">
                <input type="submit" value="SEND" id="button-blue"/>
                <div class="ease"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>