<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создаем нечто новое...</title>
    <link rel="stylesheet" href='{% static '/css/crtdnews.css' %}?{% now "U" %}' type="text/css">
</head>
<body>
<div id="form-main">
    <div id="form-div">
        <form class="form" id="form1" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="name">
                <input name="title" type="text"
                       class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Title"
                       id="title"/>
            </p>
            <p class="name">
                <input name="cost" type="number"
                       class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="cost"
                       id="title"/>
            </p>
            <p class="name">
                <input name="file" type="file"
                       placeholder="File"
                       id="name"/>
            </p>

            <div class="submit">
                <input type="submit" value="SEND" id="button-blue"/>
                <div class="ease"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>