<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мероприятия</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link href="{% static 'lib/slick/slick.css ' %}" rel="stylesheet">
    <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <link rel="stylesheet" href='{% static '/css/index_menu.css' %}?{% now "U" %}' type="text/css">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Лаборатория Inc</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'index' %}"><i
                    class="fa fa-home"
                    aria-hidden="true"></i>Главная
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'show_news' %}"><i
                    class="fa fa-newspaper-o" aria-hidden="true"></i>Новости</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url 'events:show_event' %}"><i
                    class="fa fa-calendar" aria-hidden="true"></i>Мероприятия</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url 'bank:transfer' %}"><i
                    class="fa fa-university" aria-hidden="true"></i>Банк</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url 'market:sell' %}"><i
                    class="fa fa-shopping-cart" aria-hidden="true"></i>Маркет</a>
            {% if not user.is_authenticated %}
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                   href="{% url 'login:sign-in' %}"><i class="fa fa-user" aria-hidden="true"></i>Профиль</a>
            {% else %}
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                   href="{% url 'login:user-area' %}"><i class="fa fa-user" aria-hidden="true"></i>Профиль</a>
            {% endif %}

        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle"><i class="fa fa-bars"
                                                                      aria-hidden="true"></i>Меню
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!"><i class="fa fa-bell"
                                                                                     aria-hidden="true"></i>
                        </a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"><i class="fa fa-comment"
                                                                              aria-hidden="true"></i></a></li>
                        {% if not user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login:sign-in' %}"><i
                                    class="fa fa-sign-in" aria-hidden="true"></i>Вход</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'login:presing' %}"><i
                                    class="fa fa-user-plus" aria-hidden="true"></i>Регистрация</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">{{ user.name }} {{ user.surname }}</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'login:user-area' %}">Профиль</a>
                                    {% if user.is_organizate %}
                                        <a class="dropdown-item" href="{% url 'createdNews' %}">Создать новость</a>
                                        <a class="dropdown-item"
                                           href="{% url 'events:create_event' %}">Создать мероприятие</a>
                                        <a class="dropdown-item"
                                           href="{% url 'events:create_task' %}">Создать задачу</a>
                                    {% else %}
                                        <button class="dropdown-item"
                                                id="btn-reg-org">Подать заявку организатора
                                        </button>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'login:logout' %}">Выход</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <!--<div class="top-news">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 tn-left">
                            <div class="row tn-slider">
                                <div class="col-md-6">
                                    <div class="tn-img img-size">
                                        <img src="{{ main_news.img.url }}" alt="..."/>
                                        <div class="tn-title">
                                            <a href="">{{ main_news.title }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="tn-img img-size">
                                        <img src="{{ second_news.img.url }}" alt="..."/>
                                        <div class="tn-title">
                                            <a href="">{{ second_news.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 tn-right">
                            <div class="row">
                                {% for item in right_news %}
                                    <div class="col-md-6">
                                        <div class="tn-img">
                                            <img src="{{ item.img.url }}" alt="..."/>
                                            <div class="tn-title">
                                                <a href="">{{ item.title }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="event">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown  animated"
                                 data-animation="fadeInDown animated"
                                 data-delay=".2s" id="nav-tabContent"
                                 style="visibility: visible; animation-name: fadeInDown;">
                                <div class="tab-pane fade active show" id="one" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <!-- row loop -->
                                    {% for item in events %}
                                        <div class="row mb-30">
                                            <div class="col-lg-2">
                                                <div class="user">
                                                    <div class="title">
                                                        <img src="{{ item.caster.logo.url }}" alt="img">
                                                        <h5>{{ item.caster.name }} {{ item.caster.surname }}</h5>
                                                        <p>{{ item.caster.specialization }}</p>
                                                    </div>
                                                    <ul>
                                                        <li>{{ item.caster.skills}}</li>
                                                        <li>Video Streming</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="event-list-content fix">
                                                    <ul data-animation="fadeInUp animated" data-delay=".2s"
                                                        style="animation-delay: 0.2s;" class="">
                                                        <li>{{ item.location }}</li>
                                                        <li>{{ item.startTime }}, {{ item.duration }}</li>
                                                    </ul>
                                                    <h2>{{ item.title }}</h2>
                                                    <p>{{ item.description }}</p>
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ item.id }}">
                                                        <button class="btn mt-20 mr-10" name="going"><i
                                                                class="far fa-ticket-alt"></i>Посетить
                                                        </button>
                                                    </form>
                                                    <a href="#" class="btn mt-20">Узнать больше</a>
                                                    <div class="crical"><i class="fal fa-video"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- row loop -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 justify-content-center text-center">
                            <a href="#" class="btn mt-20 mr-10">More Program +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% if not user.is_authenticated %}
        <div id="not-email">
            <div id="window-not-email">
                <h1>Для просмотра мероприятий необходимо войти в аккаунт!</h1>
                <a class="pulse" href="{% url 'login:sign-in' %}">Войти</a>
                <a class="offset" href="{% url 'login:presing' %}">Нет аккаунта?</a>
                <a class="raise" href="{% url 'index' %}">Вернуться</a>
            </div>
            <div class="bg"></div>
        </div>
    {% endif %}
</div>
{% if return %}
    <div class="container-sm hidden-block-success" style="display: flex">
        <h3>Удачного посещения!</h3>
        <h4>Мероприятия добавлненно в список будущих посещений</h4>
        <h6>Пожалуйста, если Вы по какой либо причине не сможете посетить данное мероприятие отмените его посещение в
            своей
            кабинете</h6>
        <button class="btn" id="show-btn">Ура! Иду!</button>
    </div>
{% else %}
    <div class="container-sm hidden-block-success" style="display: none">
        <h3>Удачного посещения!</h3>
        <h4>Мероприятия добавлненно в список будущих посещений</h4>
        <h6>Пожалуйста, если Вы по какой либо причине не сможете посетить данное мероприятие отмените его посещение в
            своей
            кабинете</h6>
        <button class="btn" id="show-btn">Ура! Иду!</button>
    </div>
{% endif %}

<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Пр.Энгельса 23</p>
                        <p><i class="fa fa-envelope"></i>gavrin.01@bk.ru</p>
                        <p><i class="fa fa-phone"></i>+8(981)157-41-85</p>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Useful Links</h3>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Pellentesque</a></li>
                        <li><a href="#">Aenean vulputate</a></li>
                        <li><a href="#">Vestibulum sit amet</a></li>
                        <li><a href="#">Nam dignissim</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Quick Links</h3>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Pellentesque</a></li>
                        <li><a href="#">Aenean vulputate</a></li>
                        <li><a href="#">Vestibulum sit amet</a></li>
                        <li><a href="#">Nam dignissim</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Newsletter</h3>
                    <div class="newsletter">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class
                            aptent taciti sociosqu
                        </p>
                        <form>
                            <input class="form-control" type="email" placeholder="Your email here">
                            <button class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Menu Start -->
<div class="footer-menu">
    <div class="container">
        <div class="f-menu">
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookies</a>
            <a href="">Accessibility help</a>
            <a href="">Advertise with us</a>
            <a href="">Contact us</a>
        </div>
    </div>
</div>
<!-- Footer Menu End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="{% url 'index' %}">Laboratory Inc</a>. All Rights Reserved</p>
            </div>

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <div class="col-md-6 template-by">
                <p>Designed By <a href="#">Andrey Gavrin</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->
{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock extrahead %}
<script src="{% static 'assets/js/index.js' %}?{% now "U" %}'"></script>
<script src="{% static 'assets/js/event.js' %}?{% now "U" %}'"></script>
</body>
</html>