<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href='{% static '/css/reg_css.css' %}?{% now "U" %}'  />
        <link rel="stylesheet" href='{% static '/css/head.css' %}?{% now "U" %}' type="text/css">
</head>
<body>
<div class='header'>
    <div class='back-circle'>
        <div class="circle">
            <svg width="219" height="209" viewBox="0 0 219 209" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class='back_layer_1' href="{% url 'index' %}">
                <path d="M83.4835 185.108V160.373C84.4177 160.033 85.3291 159.628 86.2042 159.137C98.6147 152.184 99.9194 132.432 89.1157 115.022C78.3133 97.6111 59.4953 89.1342 47.0853 96.0872C34.6748 103.04 33.3705 122.792 44.1722 140.202C45.9151 143.011 47.8681 145.582 49.9676 147.898V166.274L23.2192 151.728V60.623L13.8436 54.7417C5.3027 69.5288 0.445419 86.5098 0.445419 104.568C0.445419 160.677 47.2972 206.357 105.871 208.201L105.881 197.511L83.4835 185.108Z"
                      fill="#0E9A48" ></path>
                <path d="M52.4172 40.3404L68.766 49.5475C68.4438 52.1003 68.4334 54.9106 68.4438 55.8768C68.5935 69.566 88.1033 79.9727 109.372 79.7633C130.64 79.5538 145.788 67.31 145.68 55.2641C145.559 41.5753 131.706 30.8575 110.446 30.2551C103.248 30.051 96.3104 31.4167 93.151 31.9903L81.2272 24.7422L109.586 9.36636L193.187 55.5441L202.775 50.543C193.552 36.131 180.488 23.6588 164.019 14.6482C112.848 -13.3475 47.811 2.44416 16.9052 49.7611L26.4149 55.4675L52.4172 40.3404V40.3404Z"
                      fill="#CB2026"></path>
                <path d="M196.008 90.5322L178.23 99.3626C177.586 99.2601 173.64 95.7503 172.752 95.2791C160.166 88.6164 141.638 97.4259 131.286 115.082C120.935 132.738 121.817 152.925 134.402 159.589C146.988 166.251 165.729 158.258 176.082 140.602C177.751 137.754 179.981 131.142 181.023 128.251L196.169 119.93L196.079 151.521L112.702 197.792L112.742 208.217C130.487 207.749 148.362 203.151 164.761 194.026C215.713 165.674 233.521 104.173 205.598 55.2102L196.008 60.2144V90.5322V90.5322Z"
                        fill="#35469D" ></path>
                </svg>
        </div>
    </div>
</div>
<div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<div class="login-box">
      <h2>Welcome {{ user.username }}</h2>
<form id="regForm" enctype="multipart/form-data">

  <!-- One "tab" for each step in the form: -->
    <div class="tab">
      <div  class="user-box">
        <input oninput="this.className = ''" name="login">
        <label>Логин</label>
      </div>
      <div class="user-box">
        <input oninput="this.className = ''" name="password">
        <label>Пароль</label>
      </div>
      <div class="user-box">
        <input oninput="this.className = ''" name="email">
        <label>Email</label>
      </div>
  </div>
    <div class="tab">
      <div class="user-box">
        <input oninput="this.className = ''" name="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input oninput="this.className = ''" name="phone">
        <label>Telephone</label>
      </div>
  </div>
    <div class="tab">
      <div class="user-box">
        <input oninput="this.className = ''" name="birthday">
        <label>birthday</label>
      </div>
  </div>
    <div class="tab">
          <div class="user-box">
        <input oninput="this.className = ''" name="birthday">
        <label>birthday</label>
      </div>
          <div class="user-box">
        <input oninput="this.className = ''" name="birthday">
        <label>birthday</label>
      </div>
  </div>
    <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>
</div>
</body>
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>
</html>