<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transfer</title>
    <link rel="stylesheet" href="{% static 'css/credit.css' %}" type="text/css" />
</head>
<body>
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<div>
    {% if not user.is_authenticated %}
    <div>
        <p style="color:red">Для использования банка необходимо войти в аккаунт!</p>
        <a href="{% url 'login:sign-in'%}">Войти</a>
        <a href="{% url 'login:sign-up'%}">Нет аккаунта?</a>
    </div>
{% endif %}
    <a href="{% url 'index' %}">going to main page</a>
<div class="login-box">
  <h2>Вход</h2>
  <form method="POST">
      {% csrf_token %}
    <div class="user-box">
        <input type="text" name="login" required="">
        <label>Username</label>
    </div>
    <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
    </div>
          <button type="submit" id="button"></button>
      <div class="line"></div>
      <div class="second-fu">
        <a href="#" class="forg__up">
            Забыли пароль?
        </a>
        <a href="{% url 'login:sign-up' %}" class="reg__up">
            Регистрация
        </a>
      </div>
  </form>
</div>
</div>
</body>
</html>